.button {
    background: $primary;
    padding: 25px 58px;
    border-radius: 43px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    color: $black;
    transition: .3s;

    &:hover {
        color: $secondary;
        cursor: pointer;
    }
}