.cards-contact {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;

    &__item {
        flex: 1 1 33.33%;
        padding: 0 10px;

        @media (max-width:767.98px) {
            flex: 1 1 100%;
        }
    }
}

.contact-card {
    border: 2px solid $border;
    border-radius: 10px;
    padding: 41px 15px 0 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 1s ease 0s;

    &:hover {
        border-color: $primary;
    }

    // .contact-card__title

    &__title {
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        color: $secondary;
        position: relative;
        flex: 1 1 auto;

        &::before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -200%);
        }

        &_1::before {
            background: url('../img/cards-contact/time.svg') center / cover no-repeat;
        }

        &_2::before {
            background: url('../img/cards-contact/geo.svg') center / cover no-repeat;
        }

        &_3::before {
            background: url('../img/cards-contact/call.svg') center / cover no-repeat;
        }
    }

    &__link {
        color: $secondary;
        transition: .3s;

        &:hover {
            color: $primary;
        }
    }

    // .contact-card__text

    &__text {
        font-size: 14px;
        line-height: 2;
        text-align: center;
        color: $secondary;
        opacity: 0.5;
    }
}