$primary: #34C759;

$secondary: #FFFFFF;

$black: #1A1A1A;

$dark-gray: #252525;

$light-gray: #737373;

$h2:#D9D9D9;

$subtext:#303030;

$text:#A6A6A6;

$border:#ffffff1a;

$box-shadow:#0000001a;

$card-text: #ffffff80;

$card-title-text_hover:#191919;

$produkt-card-title: #D9D9D9;

$produkt-card-subtitle: #A4A8B2;

$produkt-card-text:  #85878C;

$background-produkt-card-button:#262626;