.footer {
    background: $dark-gray;
    box-shadow: 0px 2px 5px $box-shadow;

    // .footer__container

    &__container {}

    // .footer__top

    &__top {
        padding: 30px 0;
    }

    // .footer__bottom

    &__bottom {
        padding: 30px 0;
        text-align: center;
        position: relative;


        &::before {
            content: '';

            position: absolute;
            height: 2px;
            width: 100%;
            background: $subtext;
            top: 0;
            left: 0;
        }
    }

    // .footer__logo

    &__logo {
        margin-bottom: 10px;
    }

    // .footer__copyright

    &__copyright {
        font-size: 12px;
        line-height: 2;
        color: $light-gray;
    }
}