.logo {
    color: $primary;
    padding: 15px 15px 15px 35px;
    position: relative;

    &::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url('../icon/logo.svg') center no-repeat;
        position: absolute;
        left: 1px;
        top: 7px;
    }
}