// Разметка основных блоков

*::-webkit-scrollbar{
	width: 0;
}

body {
    background: $black;
    font-family: 'HelveticaNeue';
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

[class*='__container'] {
    max-width: 1110px;
    margin: 0 auto;
}

@media (max-width:1140px) {
    [class*='__container'] {
        margin: 0 15px;
    }
}