*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*::-webkit-scrollbar {
  width: 0;
}

body {
  background: #1A1A1A;
  font-family: "HelveticaNeue";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  [class*=__container] {
    margin: 0 15px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.1019607843);
  position: absolute;
  left: 0;
  bottom: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  margin: 0 10px;
}
.nav__link {
  padding: 15px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__link:hover {
  color: #34C759;
}

.logo {
  color: #34C759;
  padding: 15px 15px 15px 35px;
  position: relative;
}
.logo::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../icon/logo.svg") center no-repeat;
  position: absolute;
  left: 1px;
  top: 7px;
}

.button {
  background: #34C759;
  padding: 25px 58px;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.h2-subtext {
  position: relative;
  text-align: center;
}
.h2-subtext__h2 {
  padding: 48px 0px;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .h2-subtext__h2 {
    font-size: 30px;
    padding: 24px 0px;
  }
}
@media (max-width: 424.98px) {
  .h2-subtext__h2 {
    font-size: 28px;
    padding: 12px 0px;
  }
}
.h2-subtext__h2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #34C759;
}
.h2-subtext__subtext {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.2em;
  color: #303030;
}
@media (max-width: 424.98px) {
  .h2-subtext__subtext {
    display: none;
  }
}

.cards-contact {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.cards-contact__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  padding: 0 10px;
}
@media (max-width: 767.98px) {
  .cards-contact__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.contact-card {
  border: 2px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 10px;
  padding: 41px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.contact-card:hover {
  border-color: #34C759;
}
.contact-card__title {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.contact-card__title::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
}
.contact-card__title_1::before {
  background: url("../img/cards-contact/time.svg") center/cover no-repeat;
}
.contact-card__title_2::before {
  background: url("../img/cards-contact/geo.svg") center/cover no-repeat;
}
.contact-card__title_3::before {
  background: url("../img/cards-contact/call.svg") center/cover no-repeat;
}
.contact-card__link {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-card__link:hover {
  color: #34C759;
}
.contact-card__text {
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  height: 100%;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
  border-radius: 6px;
  padding: 24px 24px 42px 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card__link:hover {
  background: #34C759;
}
.card__link:hover .card__title,
.card__link:hover .card__text {
  color: #191919;
}
.card__link:hover .card__title::after {
  background: #252525;
}
.card__title {
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
}
.card__title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  left: 0;
  bottom: -15px;
  background: #34C759;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5019607843);
}

.product-card {
  height: 100%;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-card__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 74.3%;
  position: relative;
}
.product-card__link {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: url("../img/dishes/foto-link.svg") center center no-repeat;
  right: 24px;
  top: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.product-card__link:hover {
  border: 2px solid #34C759;
}
.product-card__link:active {
  background-color: #34C759;
}
.product-card__image {
  border-radius: 6px 6px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product-card__data {
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.product-card__title {
  font-size: 32px;
  line-height: 1;
  color: #D9D9D9;
}
.product-card__subtitle {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: #A4A8B2;
}
.product-card__text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: #85878C;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.product-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-card__raiting {
  font-size: 3rem;
  color: yellow;
}
.product-card__button {
  border: 2px solid #303030;
  border-radius: 30px;
  background: #262626;
  padding: 12px 30px;
  font-family: "HelveticaNeue";
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5019607843);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.product-card__button:hover {
  background: #34C759;
  border-color: #34C759;
  color: #252525;
  cursor: pointer;
}

.home {
  background: url("../img/home/background.jpg") center/cover no-repeat;
}
.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 170px 0 400px 0;
}
@media (max-width: 1023.98px) {
  .home__container {
    padding: 150px 0 370px 0;
  }
}
@media (max-width: 767.98px) {
  .home__container {
    padding: 130px 0 330px 0;
  }
}
@media (max-width: 424.98px) {
  .home__container {
    padding: 110px 0 300px 0;
  }
}
.home__title {
  margin-bottom: 16px;
  padding: 0 5%;
  font-size: 72px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media (max-width: 1023.98px) {
  .home__title {
    font-size: 60px;
  }
}
@media (max-width: 767.98px) {
  .home__title {
    font-size: 54px;
  }
}
@media (max-width: 424.98px) {
  .home__title {
    font-size: 36px;
  }
}
.home__text {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  opacity: 0.7;
  max-width: 595px;
  margin: 0 auto 3.5% auto;
}
.home__button {
  margin: 0 auto 6.15% auto;
}

.about {
  margin-top: -245px;
}
.about__container {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
  border-radius: 6px;
  padding: 60px 65px 90px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023.98px) {
  .about__container {
    padding: 40px 40px 60px 40px;
  }
}
@media (max-width: 767.98px) {
  .about__container {
    padding: 20px 20px 30px 20px;
  }
}
@media (max-width: 424.98px) {
  .about__container {
    padding: 10px 10px 15px 10px;
  }
}
.about_h2-subtext {
  margin-bottom: 30px;
}

.carousel__text {
  max-width: 734px;
  margin-bottom: 90px;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #A6A6A6;
}
.carousel__button-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.carousel__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
  border: 2px solid #303030;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.carousel__button:hover {
  border-color: #34C759;
  cursor: pointer;
}
.carousel__button:active {
  background-color: #34C759;
}
.carousel__button_left {
  background: url("../img/about/button-left.svg") center center no-repeat;
}
.carousel__button_right {
  background: url("../img/about/button-right.svg") center center no-repeat;
}
.carousel__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
}
.carousel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 77.15%;
}
.carousel__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.carousel__image:hover {
  border-color: #34C759;
}

.work__container {
  padding: 60px 0 30px 0;
}
@media (max-width: 1023.98px) {
  .work__container {
    padding: 40px 0 20px 0;
  }
}
@media (max-width: 767.98px) {
  .work__container {
    padding: 30px 0 15px 0;
  }
}
@media (max-width: 424.98px) {
  .work__container {
    padding: 20px 0 10px 0;
  }
}
.work__list {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
.work__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767.98px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 424.98px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.work_h2-subtext {
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .work_h2-subtext {
    margin-bottom: 30px;
  }
}

.dishes_h2-subtext {
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .dishes_h2-subtext {
    margin-bottom: 30px;
  }
}
.dishes__container {
  padding: 60px 0 30px 0;
}
@media (max-width: 1023.98px) {
  .dishes__container {
    padding: 40px 0 20px 0;
  }
}
@media (max-width: 767.98px) {
  .dishes__container {
    padding: 30px 0 15px 0;
  }
}
@media (max-width: 424.98px) {
  .dishes__container {
    padding: 20px 0 10px 0;
  }
}
.dishes__list {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
.dishes__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}
@media (max-width: 767.98px) {
  .dishes__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media (max-width: 424.98px) {
  .dishes__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.footer {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
}
.footer__top {
  padding: 30px 0;
}
.footer__bottom {
  padding: 30px 0;
  text-align: center;
  position: relative;
}
.footer__bottom::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #303030;
  top: 0;
  left: 0;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__copyright {
  font-size: 12px;
  line-height: 2;
  color: #737373;
}/*# sourceMappingURL=style.css.map */