.about {

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 100vh;
    }

    &__block {
        vertical-align: top;
    }

    &__subtitle {
        @include subtitle;
    }

    &__text {
        @include text;
        text-align: justify;
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.card {
    width: 255px;
    min-height: 200px;
    padding: 24px;
    border: 3px solid $border;
    border-radius: 6px;
    margin-bottom: 24px;
    text-align: center;
    transition: all 1s ease 0s;

    &__text {
        @include text;

        &::before {
            content: '';
            display: block;
            width: 50%;
            height: 3px;
            background: $color-link-after;
            position: relative;
            top: -15px;
            left: 25%;
            transition: all 1s ease 0s;
        }
    }

    &__picture {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }

    &__image {
        width: 100%;
    }
}

.card:hover {
    background: $color-link-after;
}

.card:hover .card__text {
    color: $color-link-hover;
    color: $background-color;
}

.card:hover .card__text::before {
    background: $background-color;
}