$background-color: #000;
$border: #242424;
$color-link: #90CAF9;
$color-link-after: #ffa500;
$color-link-after_alfa: #ffa50080;
$color-link-hover: #E3F2FD;
$color-h1: #E3F2FD;
$color-h2: #3F51B5;
$color-text: #c8c8c8;
$color-text-violet: #4D5BCE;
$color-text-green: #43D9AD;
$color-text-pink: #E99287;
$color-text-red: #ff0000;