$background-color:black;

$border:#242424;

$color-link: #90CAF9;

$color-link-after:orange;

$color-link-hover:#E3F2FD;

$color-h1: #E3F2FD;

$color-h2: #3F51B5;

$color-text:rgb(200, 200, 200);

$color-text-violet: #4D5BCE;

$color-text-green: #43D9AD;

$color-text-pink: #E99287;