.contact {
    &__container {
        padding: 50px 1%;
        min-height: 95vh;
        display: flex;
        gap: 40px;

        @media (max-width:768px) {
            flex-wrap: wrap;
        }
    }
}

.form {
    flex: 0 1 550px;

    @media (max-width:768px) {
        flex: 0 1 100%;
    }

    &__subtitle {
        @include subtitle;
    }

    &__subtext {
        display: block;
        @include subtext;
        margin-bottom: 10px;
    }

    &__input {
        display: block;
        margin-bottom: 24px;
        border: 1px solid $border;
        border-radius: 8px;
        padding: 10px 15px;
        width: 70%;
        transition: all .3s ease 0s;

        &_message {
            height: 100px;
            resize: none;
        }

        &:hover {
            box-shadow: 0px 0px 24px 0px $color-link-after_alfa;
            box-shadow: 0px 0px 16px 0px $color-link-after_alfa;
        }
    }

    &__button {
        display: block;
        background: $border;
        border-radius: 8px;
        padding: 10px 15px;
        font-weight: 450;
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
        transition: all .3s ease 0s;

        &:hover {
            text-shadow: 0px 0px 12px $color-link-after;
            text-shadow: 0px 0px 8px $color-link-after;
        }
    }
}

.code {
    flex: 0 1 550px;

    @media (max-width:768px) {
        flex: 0 1 100%;
    }

    &__subtitle {
        @include subtitle;
    }

    &__list {
        counter-reset: item;
    }

    &__item {
        font-weight: 450;
        font-size: 18px;
        line-height: 27px;
        color: $color-text;

        &::before {
            counter-increment: item;
            content: counter(item);
            display: inline-block;
            width: 25px;
        }

        &_pink {
            color: $color-text-pink;
        }

        &_violet {
            color: $color-text-violet;
        }

        &_green {
            color: $color-text-green;
        }
    }
}