.contact {

    // .contact__container

    &__container {
        padding-top: 90px;
        padding-bottom: 86px;
        min-height: 100vh;
    }

    // .contact__subtitle

    &__subtitle {
        font-weight: 450;
        font-size: 32px;
        line-height: 42px;
        color: $color-h2;
        margin-bottom: 82px;
    }

    // .contact__block

    &__block {
        vertical-align: top;
    }
}

.form {

    &__subtitle {
        font-weight: 450;
        font-size: 32px;
        line-height: 42px;
        color: $color-h2;
        margin-bottom: 82px;
    }

    // .form__subtext

    &__subtext {
        display: block;
        font-weight: 450;
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
        margin-bottom: 10px;
    }

    // .form__input

    &__input {
        display: block;
        margin-bottom: 24px;
        border: 1px solid $border;
        border-radius: 8px;
        padding: 10px 15px;
        width: 70%;
        transition: all .3s ease 0s;

        &:hover {
            outline: 3px solid $color-link-after;
        }
    }

    // .form__button

    &__button {
        display: block;
        background: $border;
        border-radius: 8px;
        padding: 10px 15px;
        font-weight: 450;
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
        transition: all .3s ease 0s;

        &:hover {
            outline: 3px solid $color-link-after;
        }
    }
}

.code {

    &__list {
        counter-reset: item;
    }

    &__item {
        font-weight: 450;
        font-size: 18px;
        line-height: 27px;
        color: $color-text;

        &::before {
            counter-increment: item;
            content: counter(item);
            display: inline-block;
            margin-left: -30px;
            width: 30px;
        }

        &_pink {
            color: $color-text-pink;
        }

        &_violet {
            color: $color-text-violet;
        }

        &_green {
            color: $color-text-green;
        }
    }
}