.footer {

    &__container {
        min-height: 10vh;
        padding-left: 1%;
        padding-right: 1%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__item {
        padding: 5px 10px;

        &:first-child {
            flex: 1 1 auto;
            padding-left: 0px;

            @media (max-width:570px) {
                flex: 0 0 100%;
                text-align: center;
                padding-right: 0px;
            }
        }

        &:last-child {
            padding-right: 0px;

            @media (max-width:570px) {
                padding-right: 10px;
            }
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 58px;
        color: $color-link;
        transition: all .3s ease 0s;

        &:hover {
            text-shadow: 0px 0px 12px $color-link-after;
            text-shadow: 0px 0px 8px $color-link-after;
        }
    }

    &__icon {
        width: 48px;
        height: 48px;
        border-radius: 15px;
        transition: all .3s ease 0s;

        &:hover {
            box-shadow: 0px 0px 24px 0px $color-link-after_alfa;
            box-shadow: 0px 0px 16px 0px $color-link-after_alfa;
        }
    }

    &__img {
        width: 100%;
    }
}