.header {}

.nav {
    position: fixed;
    width: 100%;
    max-width: inherit;
    top: -1px;
    z-index: 100;
    background: $background-color;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 3px solid $border;
    }

    &__item {
        padding: 18px 1%;
    }

    &__item:first-child{
        @media (max-width:600px) {
            display: none;
        }
    }

    &__link {
        @include link;
    }
}