.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background: $background-color;
}

.nav {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &__item {
        padding: 18px 0;
    }

    &__item:first-child {
        @media (max-width:600px) {
            display: none;
        }
    }

    &__link {
        @include link;

        @media (max-width:450px) {
            font-size: 12px;
        }
    }
}