.home {
    padding: 100px 0 5% 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (max-width:768px) {
        grid-template-columns: 1fr;
    }

    &__hi {
        padding-bottom: 20px;
    }

    &__picture {}

    &__text {
        @include text;
    }

    &__title {
        @include title;
    }

    &__subtitle {
        @include subtitle;
    }

    &__row:not(:last-child) {
        margin-bottom: 15px;
    }

    &__link {
        @include link;
    }

    &__image {
        width: 100%;
        border-radius: 5px;
    }
}

.pink {
    color: $color-text-pink;
}

.violet {
    color: $color-text-violet;
}

.green {
    color: $color-text-green;
}