.home {

    &__container {
        padding-top: 150px;
        padding-bottom: 50px;
        min-height: 100vh;
    }

    &__block {
        vertical-align: middle;
    }

    &__text {
        @include text;
    }

    &__title {
        @include title;
    }

    &__subtitle {
        @include subtitle;
    }

    &__subtext {
        @include subtext;
    }

    &__link {
        @include link;
    }

    &__picture {
        max-width: 569px;
    }

    &__image {
        width: 100%;
        border-radius: 5px;
    }
}