@import 'color';

body {
    background: $background-color;
    font-family: 'Fira Code', monospace;
    transition: opacity .3s;
}

[class*='__container'] {
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 1170px) {
        margin: 0 15px;
    }
}

[class*='__block'] {
    display: grid;
    height: fit-content;
    justify-items: start;
    row-gap: 30px;
}