@mixin title {
    font-size: 48px;
    line-height: 1.5;
    color: $color-h1;
    margin-bottom: 30px;

    @media (max-width:450px) {
        font-size: 42px;
    }

    @media (max-width:400px) {
        font-size: 38px;
    }

    @media (max-width:360px) {
        font-size: 32px;
    }
}


@mixin subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33;
    color: $color-h2;
    margin-bottom: 30px;

    @media (max-width:360px) {
        font-size: 28px;
    }
}

@mixin text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: $color-text;
}

@mixin subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
}

@mixin link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $color-link;
    position: relative;
    transition: all .5s ease 0s;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: $color-link;
        opacity: .3;
        position: absolute;
        top: 25px;
    }

    &::after {
        content: '';
        display: block;
        width: 0%;
        height: 3px;
        background: $color-link-after;
        position: absolute;
        top: 25px;
        transition: all .5s ease 0s;
    }

    &:hover {
        color: $color-link-hover;

        &::after {
            width: 100%;
        }
    }
}