.contact-popup {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    display: grid;
    justify-items: center;
    gap: 30px;
    max-width: 500px;
    border: 3px solid black;
    border-radius: 20px;
    background: #eee;
    padding: 20px;
    transition: all .3s ease 0s;

    // .popup__title
    &._active-contact-popup {
        transform: translate(-50%, -50%) scale(1, 1);
    }

    &__title {
        font-size: 1.2rem;
    }
}