.project {

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 100vh;
    }

    &__subtitle {
        @include subtitle;
    }

    &__block {
        vertical-align: top;
        margin-bottom: 24px;
    }

    &__text {
        @include text;
    }

    &__subtext {
        @include subtext;
    }

    &__link {
        @include link;
    }

    &__picture {
        max-width: 569px;
    }

    &__image {
        width: 100%;
        border: 3px solid $border;
        border-radius: 5px;
    }
}