.project {
    min-height: 100vh;
    padding: 100px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (max-width:768px) {
        grid-template-columns: 1fr;
    }

    &__subtitle {
        @include subtitle;
    }

    &__text {
    }

    &__subtext {
        @include subtext;
        margin-bottom: 10px;
    }

    &__link {
        @include link-fz12;
        // @include link;
    }

    &__picture {
    }

    &__image {
        width: 100%;
        border: 3px solid $border;
        border-radius: 5px;
    }
}