@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* font-size: 16px; */
  font-size: 0;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
}

/* Разметка основных блоков */
body {
  background: black;
  font-family: 'Fira Code', monospace;
}

[class*='__container'] {
  max-width: 1140px;
  margin: 0 auto;
  border-bottom: 3px solid #242424;
}

[class*='__block'] {
  width: 50%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
}

/* Разметка основных блоков КОНЕЦ */
.nav {
  position: fixed;
  width: 100%;
  max-width: inherit;
  top: -1px;
  z-index: 100;
  background: black;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #242424;
}

.nav__item {
  padding: 18px 1%;
}

.nav__link {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #90CAF9;
  position: relative;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.nav__link::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background: orange;
  position: absolute;
  top: 25px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.nav__link:hover {
  color: #E3F2FD;
}

.nav__link:hover::after {
  width: 100%;
}

.home__container {
  padding-top: 150px;
  padding-bottom: 110px;
}

.home__block {
  vertical-align: middle;
}

.home__text {
  font-weight: 450;
  font-size: 18px;
  line-height: 27px;
  color: #E3F2FD;
}

.home__title {
  font-size: 62px;
  line-height: 81px;
  color: #E3F2FD;
}

.home__subtitle {
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;
  color: #3F51B5;
  margin-bottom: 82px;
}

.home__subtext {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: #E3F2FD;
}

.home__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #90CAF9;
  position: relative;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.home__link::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background: orange;
  position: absolute;
  top: 25px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.home__link:hover {
  color: #E3F2FD;
}

.home__link:hover::after {
  width: 100%;
}

.home__picture {
  max-width: 569px;
}

.home__image {
  width: 100%;
  border-radius: 5px;
}

.about__container {
  padding-top: 90px;
  padding-bottom: 86px;
}

.about__block {
  vertical-align: top;
}

.about__subtitle {
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;
  color: #3F51B5;
  margin-bottom: 82px;
}

.about__text {
  font-weight: 450;
  font-size: 18px;
  line-height: 27px;
  color: #E3F2FD;
  text-align: justify;
  margin-bottom: 24px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  width: 255px;
  min-height: 200px;
  padding: 24px;
  border: 3px solid #242424;
  border-radius: 6px;
  margin-bottom: 24px;
  text-align: center;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.card__title {
  font-weight: 450;
  font-size: 18px;
  line-height: 27px;
  color: #E3F2FD;
}

.card__title::before {
  content: '';
  display: block;
  width: 50%;
  height: 3px;
  background: orange;
  position: relative;
  top: -15px;
  left: 25%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.card__picture {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.card__image {
  width: 100%;
}

.card:hover {
  background: orange;
}

.card:hover .card__title {
  color: #E3F2FD;
  color: black;
}

.card:hover .card__title::before {
  background: black;
}

.project__container {
  padding-top: 90px;
  padding-bottom: 86px;
}

.project__subtitle {
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;
  color: #3F51B5;
  margin-bottom: 82px;
}

.project__block {
  vertical-align: top;
  margin-bottom: 24px;
}

.project__text {
  font-weight: 450;
  font-size: 18px;
  line-height: 27px;
  color: #E3F2FD;
}

.project__subtext {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: #E3F2FD;
}

.project__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #90CAF9;
  position: relative;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.project__link::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background: orange;
  position: absolute;
  top: 25px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.project__link:hover {
  color: #E3F2FD;
}

.project__link:hover::after {
  width: 100%;
}

.project__picture {
  max-width: 569px;
}

.project__image {
  width: 100%;
  border-radius: 5px;
}
