.button {
    background: url('../img/hero/ButtonComponentRight.svg') 100% 0 no-repeat #C40B0B;
    padding: 0 50px 0 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 48px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 2px;
    transition: all .5s ease 0s;
    animation: color 3s linear infinite alternate-reverse;
    outline: 3px solid black;
    white-space: nowrap;

    &:hover {
        outline: 3px solid yellow;
        

    }
}

@keyframes color {
    0% {
        color: blue;
        background-color: yellow;

    }

    100% {

        color: black;
    }
}