.gallery {
    background: url('../img/gallery/gears.svg') 0 100% no-repeat;
    padding: 10% 8.5% 23% 8.5%;
    border: 1px solid transparent;

    &__container {
        margin-bottom: -80px;
        background: white;
    }

    &__overline-h2 {
        margin-bottom: 5%;
    }

    &__tabs {
        display: grid;
        justify-items: center;

        @media (min-width:768px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__tab {
        font-size: 16px;
        height: 40px;
        letter-spacing: 0.15px;
        color: #02133C;
        transition: all 1s ease 0s;
        cursor: pointer;

        &:hover {
            color: #C40B0B;
        }
    }

    &__picture {
        margin-bottom: -120px;
    }

    &__image {
        width: 100%;
    }
}