.h3-overline {

    // .h3-overline__subtitle

    &__subtitle {
        margin-bottom: 33px;
        color: #4B4B4B;
        font-weight: 700;
        font-size: 12px;
        line-height: 28px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        padding: 0 0 0 33px;
        background: url('../icon/overline-mark.svg') 0 0 no-repeat;

        &_white {
            color: white;
            background: url('../icon/overline-mark_white.svg') 0 0 no-repeat;
        }
    }

    // .h3-overline__title

    &__title {
        color: #02133C;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;

        &_white {
            color: white;
        }
    }
}