// Секция HERO Начало 
.hero {
    background: url('../img/hero/Heroshot3.jpg') 100% 50% / cover no-repeat;

    &__container {
        padding-top: 280px;
        padding-bottom: 312px;

        @media (max-width: 1040px) {
            padding-left: 1%;
            padding-right: 1%;
        }
    }

    &__titleH1 {
        max-width: 583px;
        font-weight: 900;
        font-size: 56px;
        line-height: 56px;
        color: #FFFFFF;
        margin-bottom: 48px;
    }
}

// Секция HERO Конец