// Миксины Начало

// Title H2
@mixin titleH2 {
    color: #02133C;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

// Subtitle H2
@mixin subtitle {
    margin-bottom: 33px;
    color: #4B4B4B;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 0 0 0 33px;
    background: url('../icon/OverlineMark.svg') 0 0 no-repeat;
}

@mixin button {
    background: url('../img/hero/ButtonComponentRight.svg') 100% 0 no-repeat #C40B0B;
    padding: 0 50px 0 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 48px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 2px;

    &:hover {
        outline: 3px solid yellow;
    }
}

// Миксины Конец