.testimonials {

    &__container {
        padding-bottom: 210px;

        @media (max-width: 1040px) {
            padding-left: 1%;
            padding-right: 1%;
        }
    }

    &__overline-h3 {}

    &__list {
        display: flex;
        justify-content: space-around;
        gap: 23px;

        flex-wrap: wrap;
    }
}

.card-testimonials {
    flex: 1 1 315px;
    padding: 50px 43px 40px 43px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 18px;

    &_overline {
        padding: 0;
        background: #F5F5F5;

        @media (max-width: 1015px) {
            flex: 1 1 100%;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #4B4B4B;
        flex: 1 1 100%;
    }

    &__user {
        display: flex;
        flex: 0 0 48px;
        gap :17px;
        align-items: center;
    }

    &__picture{
        border-radius: 50%;
    }

    &__image {
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.15px;
        color: #02133C;
    }
}